@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
   
  header {
    border-bottom: 1px solid #e0e0e0;
  }
   
  .nav-link {
    color: rgb(98, 97, 97);
  }
  
  .nav-link:hover {
    color: rgb(98, 97, 97);
  }
  
  .nav-link.active {
    background-image: linear-gradient(0deg, rgba(13, 148, 136, 1), rgba(22, 5, 111, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .social-icons {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Align icons vertically */
    gap: 20px; /* Adds space between each icon */
  }
  
  .social-icons a {
    font-size: 1.5rem; /* Increase icon size */
  }
  
  .contact-section h1 {
    font-family: 'Poppins', sans-serif; /* Added font-family */
    font-size: 40px; /* Updated font size */
    font-weight: 600; /* Font weight */
    line-height: 60px; /* Line height */
    text-align: left; /* Text alignment */
    background-image: linear-gradient(135deg, rgba(13, 148, 136, 1), rgba(22, 5, 111, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 60px;
  }
   
  .contact-section .badge {
    transition: transform 0.2s ease-in-out;
  }
   
  .contact-section .badge:hover {
    transform: scale(1.1);
    background-color: #e0f7fa;
  }
   
  .btn-gradient {
    background: linear-gradient(to right, teal, blue);
    color: white;
    border: none;
    padding: 1rem 2rem; /* Add padding for better button appearance */
    border-radius: 5px; /* Add border radius for rounded corners */
    transition: background 0.3s ease-in-out;
  }
   
  .badge-container {
      display: flex;
      flex-wrap: wrap; /* Allows badges to wrap onto the next line */
      gap: 10px; /* Space between badges */
    }
   
    .badge-wrapper {
      position: relative;
      display: inline-block;
    }
   
    .badge-checkbox {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
   
    .badge {
      background-color: #f8f9fa;
      color: black;
      border: 1px solid #ddd;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 1.1rem;
      padding: 10px 20px; /* Adjust padding for better appearance */
    }
   
    .badge-checkbox:checked + .badge {
      background-color: #0e8285; /* Change to your desired active color */
      color: white;
      border-color: #0e8285;
    }
   
    .badge-checkbox:not(:checked) + .badge:hover {
      background-color: #e0f7fa; /* Optional hover color for unselected badges */
      color: black;
    }
   
  .btn-gradient:hover {
    background: linear-gradient(to right, blue, teal);
  }
   
  .map-section h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: teal;
  }